<div class="card">
  <div class="card-body">
    <h2 class="card-title">{{this.title}}</h2>
    <p class="card-text"><small class="text-muted">Created by {{this.user.username}} on {{format_date this.created_at}}</small></p>
    <p class="card-text">{{this.post_content}}</p>
  </div>
</div>

