<div class="user-card">
  <h5 class="card-header">User Info</h5>
  <div class="card-body">
    <h5 class="username">Username: {{currentUser.username}}</h5>
    <h5 class="Posts">Posts: {{currentUser.posts.length}}</h5>
    <a href="/edit-profile" class="edit-button">Edit My User Info</a>
  </div>
</div>

